@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #6C63FF;
  --color-secondary: #3A86FF;
  --color-background-light: #F9FAFB;
  --color-background-dark: #141121;
  --color-text-light-primary: #1F2937;
  --color-text-light-secondary: #6B7280;
  --color-text-dark-primary: #F9FAFB;
  --color-text-dark-secondary: #9CA3AF;
  --color-border-light: #E5E7EB;
  --color-border-dark: #374151;
  --color-text-secondary-light: #6B7280;
  --color-text-secondary-dark: #9CA3AF;
  --color-primary-main: #3b19e6;
  --color-background-light-alt: #f9f8fc;
  --color-accent-purple: #6C63FF;
  --color-accent-blue: #3A86FF;
  --color-secondary-accent: #3A86FF;
  --color-text-headings: #1F2937;
  --color-text-body: #6B7280;
  --color-primary-alt: #6b61ff;
  --color-background-light-secondary: #f6f5f8;
  --color-background-dark-secondary: #100f23;
  --color-brand-purple: #6C63FF;
  --color-brand-blue: #3A86FF;
}

body {
  font-family: var(--font-geist-sans);
}
